/* Base styles */
:root {
    --ff: 'Sora', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-large: normal 18px var(--ff);
    --text-normal: normal 14px var(--ff);
    --text-small: normal 12px var(--ff);
    --text-xsmall: normal 10px var(--ff);

    --color-primary: #6325a2;
    --color-primary-light: #f8f5fe;
    --color-text-heading: #20293a;
    --color-text: #6e7180;
    --color-separator: #e5eaf0;
    --color-surface: #ffffff;
    --color-background: #fafafa;
    --color-shadow: rgba(85, 85, 85, 0.08);

    --outer-radius: 12px;
    --inner-radius: 8px;

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--color-background);
}

* {
    font: var(--text-normal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
    height: 100dvh;
}
