/* Base styles */
:root {
    --ff: 'Sora', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-large: normal 18px var(--ff);
    --text-normal: normal 14px var(--ff);
    --text-small: normal 12px var(--ff);
    --text-xsmall: normal 10px var(--ff);
}
